@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


$body-bg: #eee;
$text-color: #111;
$font-family: "Nunito";

$gradient: #d72323;

@mixin text-gradient {
    // background: $gradient;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-clip: text;

    color: #d72323;
}