@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


$body-bg: #212121;
$body-bg: #111;
$text-color: #fefefe;
$font-family: "Nunito";

$gradient: linear-gradient(#7bc74d, #71db2f);

@mixin text-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}