@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


$body-bg: #212121;
$body-bg: #1e1e1e;
$body-bg: #fff;
$text-color: #fefefe;
$text-color: #111;
$font-family: "Nunito";
$gradient: linear-gradient(#2bdce3, #42ffdf);

@mixin text-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}