.contact{
    font-family: $font-family, sans-serif, serif;
    padding: 5rem 4rem 1rem 4rem;
    background-color: #111;
    color: #fff;


    @media (max-width: 424px) {
        padding: 0 2rem;

    }

    @media (max-width: 343px) {
        padding: 0 1rem;


    }



    footer{
        background-color: $body-bg;
        text-align: center;
        margin: 1rem 0 .5rem 0;
        background-color: #111;
        color: #fff;

    }

    main{
        display: flex;
        flex-direction: column;

        // @include respond(tab-land){
        // }
    }

    .social{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-content: space-between;
        border-top:1px solid #fefefe11;
        padding-top: .5rem;


        @include respond(phone){
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            font-size: 1.5rem;

            }
        a{
            margin: .75rem;
            cursor: pointer;
            transition: .2s all;
            display: flex;
            align-items: center;

            @include respond(phone){
                width: 8rem;
                // background-color: red;
                }

            i{
                margin-right: .5rem;
                font-size: 1.5rem;
            }

            &:hover{
                @include text-gradient
            }
        }
    }

    form{
        flex: 6.5;
        // border-right: 1px solid #fefefe88;
        padding-right: 5rem;


        @media (max-width: 460px) {
            padding-right: 0rem;

        }




        @include respond(small-phone2){
        padding-right: 0;
        }

 

    
    }
 

    .right{
        display: flex;
        align-items: center;
        justify-content: center;




        img{
            height: 10rem;


            @include respond(tab-land){
            }
            
            border-radius: 10px;
            // opacity: .05;
        }
    }

    .error{
        color: orangered;
        font-size: 1.75rem;
        margin: 0 1rem;
    }


    h1{
        font-size: 5rem;
        // margin-top:1rem;
        position: relative;
        margin: 1rem;

        @media (max-width: 330px) {
            font-size: 4rem;

        }





        &::after{
            content: "Contact";
            position: absolute;
            font-size: 15rem;
        opacity: .05;
        left: 0;
        top: -4rem;
        z-index: -1;

        @media (max-width: 640px) {
            font-size: 12rem;
            top: -3rem;
        }

        @media (max-width: 510px) {
            font-size: 10.5rem;
            top: -2rem;
        }


        @media (max-width: 460px) {
            font-size: 8.5rem;
            top: -1rem;
        }


        @media (max-width: 370px) {
            font-size: 7rem;
           
        }
        }
    }

    .input{
        display: flex;
        flex-direction: column;
        padding: 1rem;


        label{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        input,textarea{
            padding: .5rem;
            // width: 65%;
            border-radius: 5px;
            font-size: 1.5rem;
            background-color: #fff;
        }

        textarea{
            height: 9rem;
        }
    }

    button{
        margin: 2rem 1rem;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        // font-weight: bold;
        border-radius: 5px;
        transition: .2s all;


        &:hover{
            transform: translateY(-.4rem);
            box-shadow: 2px 2px 25px #fefefe11;
        }

        &:active{
            transform: translateY(-.1rem);
            box-shadow: 2px 2px 25px #fefefe33;
        }
    }
}