

@keyframes rotate{

    0%{
        transform: rotate(0);

    }

    100%{
        transform: rotate(360deg);

    }
}

.home{
    font-family: $font-family, sans-serif, serif;
    min-height: 100vh;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


    @include respond(tiny-phone2){
        padding: 5rem 2rem;
    }






    h1{
       font-size: 2.5rem;
        margin-top:1rem;


        @include respond(tab-land){
        font-size: 2.5rem;
        }

        @include respond(phone2){
            font-size: 2.75rem;
         
             }

             @include respond(small-phone2){
                font-size: 2.25rem;
             
                 }

                 @include respond(tiny-phone2){
                    font-size: 1.8rem;
                }


    @media (max-width: 405px) {
        font-size: 1.5rem;

  
    }

    @media (max-width: 348px) {
        font-size: 1.3rem;

  
    }
            

        span{
            @include text-gradient
        }
    }

    .social{
        font-size: 1.5rem;
        margin-top: 2rem;
        a{
            margin: .75rem;
            cursor: pointer;
            transition: .2s all;
            position: relative;

            &::after{
                content: attr(data-hint);
                font-size: .8rem;
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);


      &:hover{
        @include text-gradient
    }
            }

            &:hover{
                @include text-gradient
            }
        }
    }

    .indicator{
        height: 2.5rem;
        width: 1.2rem;
        border: 2px solid #fefefe88;
        border-radius: 25px;
        position: absolute;
        bottom: 2rem;
        // display: none;
        cursor: pointer;

        &::after{
            content: "";
            width: .35rem;
            height: .35rem;
            border-radius: 50%;
            background: $gradient;
            opacity: .75;
            position: absolute;
            bottom: 1.25rem;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll-dot 1.5s 2s infinite;
        }
    }

    .resume{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border: 1px solid #333;
        padding: .35rem 1.25rem;
        border-radius: 5px;
        transition: .2s all;
        
        i{
            font-size: 1.25rem;
            margin-right: .5rem;
        }

        &:hover{
            @include text-gradient;
        }
    }


}

