@import "./constants";
@import "./respond";

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #757575;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  // background: linear-gradient(to bottom, #7ed56f88, #28b48588);
  background-color: #ebf7fd;
}

:root {
  @include respond(tab-land) {
    font-size: 14px;
  }

  @include respond(tab-port) {
    font-size: 12px;
  }

  @include respond(large-phone) {
    font-size: 10px;
  }

  @include respond(big-desktop) {
    font-size: 18px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  color: $text-color;
  overflow-x: hidden;

}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.hamburger {
  width: 4rem;
  height: 3rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  z-index: 1;

  .line {
    background: $gradient;
    height: 0.65rem;
    border-radius: 100px;
  }
}

.navbar {
  font-family: $font-family, sans-serif, serif;
  min-height: 15vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5rem;
  position: absolute;
  top: 0;
  width: 100%;

  @include respond(phone) {
    justify-content: center;
  }

  a {
    margin: 1rem;
    font-size: 1.5rem;
    position: relative;

    @media (max-width: 348px) {
      margin: 0.75rem;
      font-size: 1.35rem;
    }

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: $gradient;
      transform-origin: right;
      transform: scale(0);
      transition: transform 220ms ease-in;
    }

    &:hover {
      &::after {
        transform-origin: left;

        transform: scaleX(1);
      }
    }
  }
}

@import "./home.scss";
@import "./projects.scss";
@import "./skills.scss";
@import "./contact.scss";
@import "./about.scss";
