.projects{
    font-family: $font-family, sans-serif, serif;
    padding: 5rem 4rem 2rem 4rem;

       @include respond(tab-port2){
        padding: 5rem 3rem 2rem 3rem;
         
             }

    h1{
        font-size: 5rem;
        margin-bottom: 1rem;
        position: relative;

        &::after{
            content: "Projects";
            position: absolute;
            font-size: 15rem;
        opacity: .05;
        left: 0;
        top: -2rem;
        z-index: -1;
        }
    }





    .project{
        background-color: #282828;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        margin: 3rem 0;
        display: flex;
        position: relative;

        
        @include respond(medium-phone){
            flex-direction: column;
            align-items: center;
         
             }

   
        .image{
            // background-color: white;
            width: 25rem;
            height: 15rem;
            border-radius: 15px;

        }


    .content{
        padding: 0 1rem;

        @include respond(medium-phone){
            text-align: center;
         
             }

        h2{
            font-size: 2.5rem;
            // border-bottom: 1px solid #fefefe;
            margin: 0 1rem;
            padding-bottom: .2rem;


        @include respond(medium-phone){
            margin:  1rem;

         
             }



            span{
                display: inline-block;
                font-size: 1rem;
                color: orangered;
            background-color: #343434;
            margin-left: 1rem;
            transform: translateY(-.4rem);
            }

        }


        p{
            margin: 1rem;
            font-size: 1.2rem;
        }

        .stack{
            margin-left: .5rem;
            margin-top: .5rem;
            img{
                width: 2rem;
                margin: 0 .5rem;
            }
        }
    }

    }

    .links{
        display: flex;
        font-size: 1.65rem;
        transition: .2s all;
        position: absolute;
        padding: 2rem;
        top: 0;
        right: 0;


        a{
            margin: 0 1rem;
            cursor: pointer;

        &:hover{
            @include text-gradient
        }
        }


    }

    .alt{
        img{
            order: 1;
        }

        h2{
            text-align: right;
            margin-left: 1rem;
        }

        .content{
            text-align: right;
        }

        .links{
            left: 0;
        }

    }

}


.projects-more{
    font-family: $font-family, sans-serif, serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    padding: 0 4rem;

    .card{
        min-height: 15rem;
        background-color: #282828;
        border-radius: 10px;
        padding: 2rem;
        text-align: center;
        font-size: 1.2rem;


        h1{
            font-size: 2.5rem;
            margin-bottom: .5rem;
        }

    }
}