.projects{
    font-family: $font-family, sans-serif, serif;
    padding: 5rem 4rem 2rem 4rem;

    h1{
        font-size: 5rem;
        margin-bottom: 1rem;
        position: relative;

        &::after{
            content: "Projects";
            position: absolute;
            font-size: 15rem;
        opacity: .05;
        left: 0;
        top: -2rem;
        z-index: -1;
        }
    }





    .project{
        background-color: #282828;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        margin: 3rem 0;
        display: flex;

   
        img{
            // background-color: white;
            min-width: 25rem;
            height: 15rem;
            border-radius: 15px;
        }


    .content{
        padding: 0 1rem;

        .tech{
            display: inline-block;
            background-color: #444;
            padding: .5rem 1rem;
            border-radius: 500px;
            margin: 1rem;

        }

        h2{
            font-size: 2.5rem;
            // border-bottom: 1px solid #fefefe;
            margin: 0 1rem;
            padding-bottom: .2rem;



            span{
                display: inline-block;
                font-size: 1rem;
                color: orangered;
            background-color: #343434;
            margin-left: 1rem;
            transform: translateY(-.4rem);
            }

        }


        p{
            margin: 1rem;
            font-size: 1.2rem;
        }
    }

    }

    .alt{
        img{
            order: 1;
        }

        h2{
            text-align: right;
            margin-left: 1rem;
        }

        .content{
            text-align: right;
        }

    }

}


.projects-more{
    font-family: $font-family, sans-serif, serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    padding: 0 4rem;

    .card{
        min-height: 15rem;
        background-color: #282828;
        border-radius: 10px;
        padding: 2rem;
        text-align: center;
        font-size: 1.2rem;


        h1{
            font-size: 2.5rem;
            margin-bottom: .5rem;
        }

    }
}