.skills{
    font-family: $font-family, sans-serif, serif;
    padding: 5rem 4rem;


    @include respond(tiny-phone2){
        padding: 5rem 2rem;



   }




    h1{
        font-size: 5rem;
        // margin-top:1rem;
        position: relative;
        margin: 1rem;


//         &::after{
//             content: "Skills";
//             position: absolute;
//             font-size: 15rem;
//         opacity: .05;
//         left: 0;
//         top: -4rem;
//         z-index: -1;


//     @include respond(tiny-phone1){
//         font-size: 12rem;
//         top: -2rem;

//    }


//    @include respond(very-tiny-phone1){
//     font-size: 10rem;
//     top: -.5rem;

// }

// @media (max-width: 380px) {
//     font-size: 8rem;
//   }


        
//         }
    }


    main{
        // border: 1px solid #fefefe;
        min-height: 25rem;
        display: flex;
        // flex-direction: column;

        @include respond(medium-phone){
                  flex-direction: column;

         
             }



        section{
        // border: 1px solid #fefefe;
        background-color: #282828;
        background-color: #fff;
        box-shadow: 2px 2px 15px #0002;
        margin: 0 1rem;
        border-radius: 10px;
padding: 1.5rem;
    flex: 1;
    // width: 60%;
    position: relative;

    @include respond(medium-phone){
        margin: 2rem 1rem;


   }

    h2{
        font-size: 2.5rem;
    }


    .background{
        width: 75%;
        opacity: .025;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        // display: none;

    }


    .skill{
        display: flex;
        align-items: center;
        background-color: #212121;
        // background-color: #121212;
        margin: 1rem 0;
        padding: .8rem;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 2px 2px 5px #0002;


        img{
            width: 2rem;
            margin-right: .5rem;
        }

        span{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
        }

    }

 

}